<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/server/static/js/controller.js"></script>    
    <link rel="stylesheet" href="./server/static/css/styles.css">
    <title>Imprenta</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="content home">

        <section class="sideBar">

            <div class="cart_search">
                <div class="search_input">
                    <label for="id_cart_val">Tiene un carrito??</label>
                    <br>
                    <label for="id_cart_val">N°</label>
                    <input type="number" name="id_cart_val" id="id_cart_val" min="1" max="1000" onchange="disableBtn(id_cart_val.value)">
                    <label for="btn_search" id="btn_search_lb" class="error_message"></label>
            
                    <label for="client_email_val">email</label>
                    <input type="text" name="client_email_val" id="client_email_val" >
                    <button id = "btn_validate" class="button confirm"  onclick="hadleEmailValidation(id_cart_val.value,client_email_val.value )" >Validar</button>
                </div>
            </div>
    
        </section>
        <section class="main">
    
            <button type="button"  class="button large btn_new"  onclick="redirectTo('printcreation')">Nuevo pedido</button>
    
        </section>

    </div>

    {% include 'footer.html' %}


</body>


</html>