<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/server/static/css/styles.css">
    <script src="/server/static/js/controller.js"></script>
    <title>Login</title>
</head>
<body>

    {% include 'header.html' %}

    <section class="login">
        <form action="/login" method="post" >
            <h3>Ingresar datos</h3>
            <label for="email">Email:</label>
            <input type="email" name="email" id="userEmail">
    
            <label for="password">Password:</label>
            <input type="password" name="password" id="userPassword">
    
            <input type="submit" value="Entrar" class="button confirm" >
     
        </form>

    </section>   
</body>
</html>