<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/server/static/css/styles.css">
    <title>Imprenta</title>
</head>
<body>
    {% include 'header.html' %}

    <section id="cart_search">
        <div class="search_input">
            <label for="id_cart_val">Tiene un carrito??</label>
            <input type="number" name="id_cart_val" id="id_cart_val" min="1" max="1000" onchange="disableBtn(id_cart_val.value)">
            <label for="btn_search" id="btn_search_lb" class="error_message"></label>

            <label for="client_email_val">email</label>
            <input type="text" name="client_email_val" id="client_email_val" >
            <button id = "btn_validate" class="button confirm"  onclick="hadleEmailValidation(id_cart_val.value,client_email_val.value )" >Validar</button>
        </div>
    </section>

    <section id="new_print">
        <button id = "btn_new" class="button"  onclick="hadleNewCart()" >Nuevo carrito</button>
    </section>

<!--------------------------------___PRINT__CREATION___--------------------------------------->
    <section id="print_creation" style="display: none;" >

        <form action="/printcreation" method="post" >

            <section id="cart_creation">
            <p id="cart"></p>
            <input type="text" name="cart_id" id="cart_id" hidden>
    
    
            <label for="client_name">Nombre:</label>
            <input type="text" name="client_name" id="client_name"  required >

            <label for="client_email">email</label>
            <input type="text" name="client_email" id="client_email"  required>
        
            </section>

            <section class="Print_details">
                <h2>Nueva Impresión</h2>
                <label for="page_type">Selecciona la Hoja:</label>
                <select name="page_type" id="page_type" required>
                    <option value="Obra 80gr" selected>Obra 80gr</option>
                    <option value="Ilustracion 120gr" >Ilustración 120gr</option>
                </select>
        
                <label for="page_size">Tamaño de la Hoja:</label>
                <select name="page_size" id="page_size" required>
                    <option value="A4" selected>A4</option>
                    <option value="A3" >A3</option>
                </select>
        
                <label for="color">Color:</label>
                <select name="color" id="color" required>
                    <option value="color">Color</option>
                    <option value="byn" selected>ByN</option>
                </select>
        
                <label for="n_pages">Numero de hojas:</label>
                <input type="number" name="n_pages" id="n_pages" min="1" max="1000">
        
                <label for="n_sides">Caras Impresas:</label>
                <select name="n_sides" id="n_sides" required>
                    <option value="1">Simple faz</option>
                    <option value="2" selected>doble faz</option>
                </select>      
        
                <label for="n_copies">Numero de copias:</label>
                <input type="number" name="n_copies" id="n_copies" min="1" max="100">
        
                <input type="submit" value="Crear Pedido" class="button"  >
            </section>
    
        </form>

    </section>

    {% include 'footer.html' %}


</body>

<script>

    hasCart = false;

    function disableBtn(value){
        if(value && parseInt(value) > 0){  document.getElementById("btn_validate").disabled = false;}
    }


    function hadleEmailValidation(cart,email){

        let body = JSON.stringify({
                cart_id:cart,
                client_email:email
                }) 

        function reqListener() {
            if (this.status == 200) {
                location.href = "/seecart/" + cart
            }
        }

        const req = new XMLHttpRequest();
        req.addEventListener("load", reqListener);
        req.open("POST", "/authbyemail");
        req.setRequestHeader("Content-Type","application/json");
        req.send(body);

    }
    // ---------------------------__NEW_PRINT__----------------------------------
    function hadleNewCart(){
        document.getElementById("btn_new").style.display = "none";
        document.getElementById("cart_search").style.display = "none";
        document.getElementById("print_creation").style.display = "block";
    }

    function redirectTo(urlParam){
       console.log("click")
       location.href = "/" + urlParam
    }
</script>


</html>